.formContainer {
  width: 400px;
  right: 20%;
}

phone-display {
  margin-left: 100px;
  display: flex;
  width: 380px;
  height: 513px;
}

.navbar{
  margin-bottom: 50px;
}

.both {
  display: flex;
  margin: auto;
  width: 50%;
  justify-content: center;
  padding-bottom: 45px;
}

.inputText {
  display: block;
  width: 205px;
  word-wrap: break-word;
  margin: 0 auto;
  text-align: center;
}

article {
  display: block;
}

.phoneContainer {
  box-sizing: border-box;
  background-image: url('../images/iphone2.png');
  background-size: 100%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}

footer {
  width: 240px;
  text-align: center;
  word-wrap: break-word;
}

.phone-image {
  margin-top: 15px;
  border: 2px solid black;
  width: 65%;
  margin-left: 47px;
  display: block;
}

.openingHoursContainer {
  height: 80px;
}

.phoneInner {
  box-sizing: border-box;
  margin-top: 100px;
  height: 347px;
  max-width: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  
}

#uploadForm{
  display: flex;
  flex-direction: column;
  width: 350px ;
  margin: 10px 300px;
}

.navBar{
  text-align: center;
  margin: auto;
}

body{
  background: linear-gradient(45deg, rgba(232,249,255,1) 0%, rgba(130,161,161,1) 100%);
}

.nav-item{
  padding-left: 15px;
}

